body {
  margin: 0;
  padding: 0;
  background: #353353;
}
.top_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.momo_report_container {
  background-color: aliceblue;
  min-height: 10vh;
}

.report_container .head {
  margin-top: 15px;
}

.our_report_container {
  background-color: antiquewhite;
  min-height: 10vh;
}

.green_res_container {
  background-color: beige;
  min-height: 80vh;
}

.head h6 {
  color: #fff;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
}

.green {
  color: green;
}
.red {
  color: red;
}

.green-bg {
  background: green;
}

.white {
  color: #fff;
}
